
Data/.ipynb_checkpoints/Untitled-checkpoint.ipynb
model/.ipynb_checkpoints/Basic model-checkpoint.ipynb
model/.ipynb_checkpoints/Basic model-checkpoint.ipynb
model/.ipynb_checkpoints/Basic model-checkpoint.ipynb
